<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>batchIndex</key>
		<string>0</string>
		<key>batchDate</key>
		<string>2015-1-30</string>
		<key>batchUrl</key>
		<string>https://raw.githubusercontent.com/wh1pch81n/NewTMTopic_Data/master/secondLevelBatch2015-1-1.plist</string>
	</dict>
</array>
</plist>
